/* .container {
   max-width: 575px;
  margin: 0 auto;
  padding: 0 20px;

} */

.tap-container {
  margin: 1px;
}

.header-container {
  padding: 5px 10px 0;
}

.closet-container,
.dressMe-container {
  margin: 0;
  padding: 10px 15px;
}

.add-container {
  height: 100vh;
}

.add-item {
  max-width: 500px;
  min-width: 500px;
  margin: 0 auto;
}

 h2 {
  margin: 10px 0;
 }

 h3 {
   margin: 5px 0;
 }

 p.tab {
  margin: 10px 0 0;
 }

 .selected {
  border-bottom: solid black 1.7px;
 }

.row {
  display: flex;

  /* flex-wrap: wrap; */
}

.register-container {
  max-width: 300px;
  min-width: 300px;
  margin: 200px auto;
  border-radius: 6px;
}

.box {
  height: 300px;
  width: 250px;
  margin: 5px auto;
}

.column-full,
.column-half {
  width: 100%;
}

.card {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto
}

.cat-img {
 width: 90%;
object-fit: cover;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-column {
  flex: 1;
  text-align: center;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.center {
  margin: 0 auto;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.width-full {
  width: 100%;
  box-sizing: border-box;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.text-padding {
  padding: 5px;
}

.padding-5 {
  padding-top: 5px;
  padding-left: 5px;
}

.padding {
  padding: 5px 10px;
}

.left {
  margin-right: auto;
}

/* img {
  width: 100%;
  object-fit: cover;
} */

 @media screen and (width >=768px) {
  .tabs {
    max-width: 600px;
    margin: 0 auto;
  }

  /* .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

   .column-half {
    width: 50%;
  } */
}
