.container {
  background-color: #D0ECAD
}

* {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.green-button {
    border-radius: 8px;
      border: 1px solid transparent;
      padding: 5px 15px;
      cursor: pointer;
      font-size: large;
      background-color: #729B51;
}

/* p {
  margin: 5px auto;
} */
