.register-container {
  background-color: #D0ECAD;
  padding: 5px 10px;
}

.add-container,
.header-container {
  background-color: #D0ECAD
}

.border-bottom {
  border-bottom: 1.5px solid black;
}

.box {
  background-color: rgb(255, 255, 255);
}

.red {
  color: red;
}

* {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.green-button {
    border-radius: 8px;
      border: 1px solid transparent;
      padding: 5px 15px;
      cursor: pointer;
      font-size: large;
      background-color: #729B51;
}

.cursor {
  cursor: pointer;
}

.link {
  color:black
}

.link:hover {
  color: black;
}
